* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


.text-general {
  text-align: center;
  transform: translate(0px, -205px);
}

.second-card3 {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  width: 400px;
  height: 230px;
  background-size: cover;
  margin: auto;
  text-align: left;
}

.first-card3{
  width: 400px;
  height: 230px;
  background-size: cover;
  margin: auto;
}

.card-logo {
  width: 65px;
}

.companyName {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

.slogan {
  color: rgb(38, 153, 178);
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 2px;
  opacity: 0.75;
}

.lorem-text {
  color: #fff;
  font-size: 12px;
  transform: translate(0px, 45px);
  letter-spacing: 0.6px;
  
}


.name-div{
  transform: translate(10px, -145px);
}
.name-class {
  display: flex;
  text-transform: uppercase;
  text-align: left;
}

.card-holder-namee {
  color: #2699b2;
  margin-right: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

.card-holder-surnamee {
  color: #2699b2;
  opacity: 0.5;
  font-size: 15px;
  letter-spacing: 1px;
}

.project-manager {
  color: #fff;
  text-align: left;
  font-size: 11px;
  transform: translate(20px, 3px);
}

.address-list {
  display: flex;
  transform: translate(179px, -180px);
}

.address-icon {
  display: flex;
  flex-direction: column;
  color: #2699b2;
  margin-left: 16px;
  margin-right: 10px;
}

.location-text {
  color: #fff;
  font-size: 11px;
  margin-top: 3px;
  margin-bottom: 13px;
  text-align: left;
}

.phone-text {
  color: #fff;
  font-size: 11px;
  margin-bottom: 12px;
  text-align: left;
}

.envelope-text {
  color: #fff;
  font-size: 11px;
  margin-bottom: 13px;
  text-align: left;
}

.arrow-text {
  color: #fff;
  font-size: 11px;
  text-align: left;
}

.location-dot {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 50%;
  margin-bottom: 4px;
  padding: 3px;
  font-size: 10px;
}

.phone {
  margin-bottom: 4px;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 50%;
  padding: 4px;
  font-size: 9px;
}

.envelope {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 9px;
}

.arrow-pointer {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 10px;
  font-size: 9px;
}


.second-card-blog{
  height: 0;
}



.company-name-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}